
<div class="header">

<p><home>
<%#<%= image_tag("picurl", :align => 'right', :padding => '7px', :radius => '10px', alt: "Nuvola Networks") %><br /><br /></home></p>

	<div class="nuvola">
<strong>Nuvola Academy</strong> is a revolutionary approach to education.  The training to help you succeed <strong> when you need it, and where you want it. </strong> Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.
 </div>
<div class="pagination-centered">
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
<%= link_to "Login", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>
</div>
<br /><br /><br />
 <h3><center><div class="popular-area span12">
Check out some of our newest courses:<br /><br />
</div></center></h3>

<div class="new span4">
		<p>Input course here</p>
		<p><b>Title:</b></p><br />
		<center>Video Embed code
			</center><br /><br /><br />
</div>
<div class="new span4">
		<p>Input course here</p>
		<p><b>Title:</b></p><br />
		<center>Video Embed code
			</center><br /><br /><br />
</div>
<div class="new span3">
		<p>Input course here</p>
		<p><b>Title:</b></p><br />
		<center>Video Embed code
			</center><br /><br /><br />
</div></div>
<h4><p><center>To see our full list of courses and view a preview please</center></p><p><center> <%= link_to "Login", new_user_session_path, class: "btn btn-large btn-primary" %></center></p></h4>
<br /><br /><br />
<div class="line-area span12"><br /><br />
	</div>
	

