
<div class="main-area span12">
	<p><home>
	<%= image_tag("Nuvola_Academy_logoV2.png", :align => 'right', :width => '350', :height => '300', :padding => '7px', :radius => '10px', alt: "Nuvola Networks") %><br /></home></p>
	<p><br /><br />
	<strong><a href="http://app.nuvola-academy.com/">Nuvola Academy</a></strong> is a revolutionary approach to education.  The training to help you succeed <strong> when you need it, and where you want it. </strong> Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.<p>
		
		<br />
		<p><strong>Take a course </strong> and open up new opportunities.  The next step to success starts here!    
	</p>
<div class="pagination-centered">
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<br /><br /><br />
 <h3><center><div class="popular-area span12">
Check out some of our newest courses:<br /><br />
</div></center></h3>

<div class="new span6">
		<p>Interested in a career in IT?</p>
		<p>Check out our Intro to Networking course:</p><br />
		<center><iframe src="//player.vimeo.com/video/68348732" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center><br /><br /><br />
</div>
<div class="new span5">
		<p>Are you a teacher?</p>
		<p>Learn how to deal with Violence in Schools:</p><br />
		<center><iframe src="//player.vimeo.com/video/73274215" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</center><br /><br /><br />
</div></div>
<h4><p><center>To see our full list of courses and view a preview please</center></p><p><center> <%= link_to "Sign In", new_user_session_path, class: "btn btn-large btn-primary" %></center></p></h4>
<br /><br /><br />
<div class="line-area span12">
	</div>
 <div class="teach-area span6">
<h4>	<p>Are you an educator or expert?  Explore ways to earn new revenue through Nuvola academy</P></h4>
	<br /><br />
	</div>
	
	 <div class="org-area span6">
	<h4>	<p>Are you an Organization looking for new ways to bring pertinent training to you employees?</P></h4>
		<br /><br />
		</div>
</div>