
<center><h3>Welcome to Nuvola Academy</h3></center><br />
<p><home>
<%= link_to image_tag("edu.jpg", :align => 'right', :padding => '7px', :radius => '10px', alt: "Nuvola Networks") %></home></p>
	<p>
	<a href="http://app.nuvola-academy.com/">Nuvola Academy</a> is a revolutionary approach to education.  The training to help you succeed <strong> when you need it, and where you want it. </strong> Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.<p>
		<br />
		<p><strong>Take a course </strong> and open up new opportunities.  The next step to success starts here!    
	</p>
<div class="pagination-centered">
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
<br /><br /><br /><br />
 <div class="main-area span11">
<h4>	<p><center>Check out some of our newest courses:</center></P></h4>
	</div>
<div class="new span6">
		<p>Interested in a career in IT?</p>
		<p>Check out our Intro to Networking course:</p>
		<iframe src="//player.vimeo.com/video/68348732" width="320" height="210" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br /><br />
</div>
<div class="new span5">
		<p>Are you a teacher?</p>
		<p>Learn how to deal with Violence in Schools:</p>
</div>
<br /><br /><br />
 <div class="teach-area span11">
<h4>	<p><center>Are you an educator or expert?  explore ways to earn new revenue through Nuvola academy</center></P></h4>
	</div>
