
<center><h3>Welcome to Nuvola Academy</h3></center><br />
<p><home>
<%= link_to image_tag("edu.jpg", :align => 'right', :padding => '7px', :radius => '10px', alt: "Nuvola Networks") %></home></p>
	<p>
	<a href="http://app.nuvola-academy.com/">Nuvola Academy</a> is a revolutionary approach to eLearning.  The training to help you succeed <strong> when you need it, and where you want it. </strong> Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.<p>
		<br />
		<p><strong>Take a course </strong> and open up new avenues of opportunities.  The next step to success starts here!    
	</p>
<div class="pagination-centered">
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>