 <center> <h1>Contact Us</h1> </center>

 <br />
<br />
<p>
	For any additional info please contact us at <%= mail_to "info@nuvola-networks.com" %> or call us at 512-698-8913.
	<br />
	<br />
   <p><b>Thanks!</b><p>
	</p>
	 <br />
	<br />
	 <br />
	<br />
	 <br />
	<br />
