<center><h1>Create Something Awesome</h1></center>
<br />
<br />
<create>
<%= image_tag("creativity.jpg", :align => 'left') %>
<p>Are you really good at something?  A teacher, or a subject matter expert?</p>
<br />
<p>We need <b>YOU!</b></p>
<br />
<p>At Nuvola Academy anyone can create awesome content and resell it.</p>
<br />
<p>At Nuvola Academy we are connecting <b>Course Creators</b> and <b>Learners</b></p>
<br />
<p>If you are interested in creating a course for Nuvola <%= link_to "contact us", contact_path %> and let us know!  We can help you create content, offer advise/consulting, or just take your finished product and upload it our site for resale. </p>
<br /><br />
<center><p><b>Help us create something awesome together!</b></p></center>
</create>

<br />
<br />

<%= link_to "Back", root_path %>