<center><h1>Nuvola Academy for Organizations</h1></center>
<br /><br /><br />
<org>
<p>
<%= image_tag("hightech.png", :align => 'right') %></p>
<br /><p><strong>Education is currently in the midst of a dramatic shift.</strong>  The traditional classroom based methodology is quickly giving way to new approaches which use cutting edge technology to deliver pointed and valuable education to the individuals and companies who need it.  Education that is <b>relevant</b>, and always <b>readily available</b> no matter where you are. </p> 
<br />	
<p>We have already built the platform.  Take advantage of the latest in education technology to propel your organization to the next level.  We offer a simple white label solution so you can quickly and easily stand up your own Learning Platform.</p>  
<br />	
	<p><%= link_to "Ask us", contact_path %> about our easy to understand pay-for-use cost models.  </p>
	<br />
	<h3><center><p>What we Offer In a Nutshell</p></center></h3>
	<ol>
		<p>Simple turnkey Learning Platform</p>
		<p>Custom Branding</p>
		<p>Access to all of our courses</p>
		<p>Team of Instructional Designers to help create additional content<p>
		<p>A team passionate about education</p>	
	</ol>	
	<br />
	<br />
	<br />	
		<center><p><b>We are seeking to transform the education industry through constant innovation.</b></p></center> </p>
		
		<br />
		<p><center> <%= link_to "Contact Us", contact_path, class: "btn btn-large btn-primary" %></center></p>
		
<br /></org>
<%= link_to "Back", root_path %>

<br />
<br />
<br />

