// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popular-area {
font-size: 115%;
}

home img {
margin-left: 10px;
padding: 10px;

}

.popular-area {
    border-top: 1px solid #888;
margin-left: -10px;
font-size: 115%;
}


.teach-area {
    border-top: 1px solid #888;
margin-left: -10px;
font-size: 115%;
}