<footer class="footer">
  <small>
Powered by <a href="http://www.nuvola-networks.com">Nuvola Networks</a>
    | All Rights Reserved
  </small>
  <menu>
    <ul>
      <li><a href="http://www.twitter.com/nuvolanetworks">Twitter</a></li>
      <li><a href="http://www.facebook.com/nuvolanetworks" target="_blank">Facebook</a></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </menu>
</footer>
